# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Julian\OneDrive - JLabs\Software\_Dev\World of Warcraft\Addons\Versions\v2.3.0_9.0.2\PersonalBlacklist\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
